<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Informacion Servicio: <%= @servicio.nombre %> - <%= image_tag(@servicio.imagen, :class => 'img-circle', :border => 3, :height => 60, :width => 60 ) %></h3>
      </div>
      <br>
      <dl class="dl-horizontal">
        <dt>Categoria:</dt>
        <dd><%= @servicio.categoria %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Capacidad:</dt>
        <dd><%= @servicio.capacidad %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Costo:</dt>
        <dd><%= @servicio.costo %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Valoracion:</dt>
        <dd><%= @servicio.valoracion %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Descripcion:</dt>
        <dd><%= @servicio.descripcion %></dd>
      </dl>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Comentarios</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @comentarios.each do |comentario|%>
            <li><%= comentario.comentario %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <% if current_user %>
      <%= link_to 'Comentar', new_comentarioservicio_path(:servicio => @servicio), :class => "btn btn-default" %>
    <% end %>
    <%= link_to 'Back', servicios_path(:bool => @bool), :class => 'btn btn-default' %>
  </div>
</div>
