<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Informacion Servicio: <%= @servicio.nombre %> - <%= image_tag(@servicio.avatar, :class => 'img-circle', :border => 3, :height => 60, :width => 60 ) if @servicio.avatar.attached? %></h3>
      </div>
      <br>
      <dl class="dl-horizontal">
        <dt>Categoria:</dt>
        <dd><%= @servicio.categoria %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Capacidad:</dt>
        <dd><%= @servicio.capacidad %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Costo:</dt>
        <dd><%= @servicio.costo %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Valoracion:</dt>
        <dd><%= @servicio.valoracion %></dd>
      </dl>
      <dl class="dl-horizontal">
        <dt>Descripcion:</dt>
        <dd><%= @servicio.descripcion %></dd>
      </dl>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Comentarios</h3>
      </div>
      <div class="panel-body">
          <% @comentarios.each do |comentario|%>
          <div class="col-md-11">
            <div class="col-md-5"><%= comentario.comentario %></div>
            <div class="col-md-1"><%= User.find(comentario.user_id).nombre[0, 5] %></div>
            <div class="col-md-4"><%= comentario.created_at.strftime("%d %B %Y") %></div>
              <% if @servicio.user_id == current_user.id || current_user.admin %>
              <div class="col-md-1"><%= button_to 'Eliminar', comentarioservicios_destroy_path(:comentario => comentario.id, :servicio => @servicio), method: :post, :class => 'btn btn-danger', method: :POST %></div>
              <% end %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <% if current_user %>
      <%= link_to 'Comentar', new_comentarioservicio_path(:servicio => @servicio), :class => "btn btn-default" %>
    <% end %>
    <%= link_to 'Back', servicios_path(:bool => @bool), :class => 'btn btn-default' %>
  </div>
</div>
