
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Sign up</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => 'form-horizontal') do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :email, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :placeholder => "Ejemplo: example@example.com" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password,  :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password, autocomplete: "new-password", :class => "form-control", :placeholder => "***********" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control", :placeholder => "***********" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :nombre, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre", :class => "form-control", :placeholder => "Ejemplo: Jorge Zabaleta" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :edad, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.number_field :edad, autofocus: true, autocomplete: "edad", :class => "form-control", :placeholder => "" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :telefono, :class => "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= f.number_field :telefono, autofocus: true, autocomplete: "telefono", :class => "form-control", :placeholder => ""%>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit "Sign up", :class => "btn btn-default"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
