<p id="notice"><%= notice %></p>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Comentario carrete <%= @comentariocarrete.carrete %></h3>
    </div>
    <br>
    <dl class="dl-horizontal">
      <dt>Usuario:</dt>
      <dd><%= @comentariocarrete.user %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Comentario:</dt>
      <dd><%= @comentariocarrete.comentario %></dd>
    </dl>
  </div>
  <%= link_to 'Editar', edit_comentariocarrete_path(@comentariocarrete), :class => 'btn btn-default' %>
  <%= link_to 'Volver', comentariocarretes_path, :class => 'btn btn-default' %>
</div>
