
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Carretes</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Titulo</th>
        <th>Descripción</th>
        <th>Direccion</th>
        <th>Capacidad</th>
        <th>Costo</th>
        <th>Fecha</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% if current_user %>
        <% @carretes.each do |carrete| %>
          <tr>
            <td><%= image_tag(carrete.imagen, :class => 'img-circle', :border => 3, :height => 45, :width => 45 ) %></td>
            <td><%= carrete.titulo %></td>
            <td><%= carrete.descripcion %></td>
            <td><%= carrete.direccion %></td>
            <td><%= carrete.capacidad %></td>
            <td><%= carrete.costo %></td>
            <td><%= carrete.fecha %></td>
            <% if current_user.admin == true %>
              <td><%= link_to 'Show', carrete_url(:id => carrete.id, :bool => @bool), :class => 'btn btn-default' %></td>
              <td><%= link_to 'Destroy', carrete, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
            <% else %>
              <td><%= link_to 'Show', carrete_url(:id => carrete.id, :bool => @bool), :class => 'btn btn-default' %></td>
            <% end %>

          </tr>
        <% end %>
      <% else %>
        <% @carretes.each do |carrete| %>
          <tr>
            <td><%= image_tag(carrete.imagen, :class => 'img-circle', :border => 3, :height => 45, :width => 45 ) %></td>
            <td><%= carrete.titulo %></td>
            <td><%= carrete.descripcion %></td>
            <td><%= carrete.direccion %></td>
            <td><%= carrete.capacidad %></td>
            <td><%= carrete.costo %></td>
            <td><%= carrete.fecha %></td>
            <td><%= link_to 'Show', carrete, :class => 'btn btn-default' %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if current_user %>
      <%= link_to 'Crear carrete', new_carrete_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
